<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/nicolasriquette.png" alt="logo" />
        <div class="intro-text">
          <!-- <span class="name">{{ site.title }}</span> -->
          <!-- <hr class="star-light" /> -->
          <span class="skills">
            <p><b>Nicolas riquette</b></p>
            <p><b>Visual Artist</b></p>
            <p>Visual artist based in Brussels</p>
            <p>making sculptures, installations, images ...</p>
            <p>passionate about the exhibition space</p>
            <p>questioning the context of exhibition, its codes, its rules, its nonsenses …</p>
            
            <p><b>« Incipit – Solo Show Nicolas Riquette » is coming soon …</b></p>
             </span>
        </div>
      </div>
    </div>
  </div>
</header>
