
    <!-- work Grid Section -->
    <section id="work">
        <div class="container work-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>work</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="container-fluid">
                <div id="work-content">
                    <p>{% translate work.p1 %}</p>
                    <p>{% translate work.p2 %}</p>
                    <br>
                    <p>
                        {% translate work.p3 %}
                    </p>

                    <br>
                    <div class="col-lg-12">
                        <img class="img-responsive center-block" src="img/mosaique.png" alt="mosaique" />
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3>incipit - solo show</h3>
                            <hr class="star-light">
                        </div>
                    </div>
                    <p>{% translate work.incipit.main_intro.p1 %}</p>
                    <h5 class="text-center">{% translate work.incipit.main_intro.p2 %}</h5>
                    <p>{% translate work.incipit.main_intro.p3 %}</p>

                    <br>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4>weaving</h4>
                            <hr class="star-light">
                        </div>
                    </div>
                    <p>{% translate work.incipit.weaving.p1 %}</p>
                    <p>{% translate work.incipit.weaving.p2 %}</p>
                    <p>{% translate work.incipit.weaving.p3 %}</p>
                    <p>{% translate work.incipit.weaving.p4 %}</p>
                    <p>{% translate work.incipit.weaving.p5 %}</p>

                    <br>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4>grid</h4>
                            <hr class="star-light">
                        </div>
                    </div>
                    <p>{% translate work.incipit.grid.p1 %}</p>
                    <p>{% translate work.incipit.grid.p2 %}</p>
                    <p>{% translate work.incipit.grid.p3 %}</p>
                    <p>{% translate work.incipit.grid.p4 %}</p>
                    <p>{% translate work.incipit.grid.p5 %}</p>
                    <p>{% translate work.incipit.grid.p6 %}</p>

                    <br>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4>vestibule #1</h4>
                            <hr class="star-light">
                        </div>
                    </div>
                    <p>{% translate work.incipit.vestibule1.p1 %}</p>
                    <p>{% translate work.incipit.vestibule1.p2 %}</p>
                    <p>{% translate work.incipit.vestibule1.p3 %}</p>
                    <p>{% translate work.incipit.vestibule1.p4 %}</p>

                    <br>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4>reliquaries</h4>
                            <hr class="star-light">
                        </div>
                    </div>
                    <p>{% translate work.incipit.reliquaries.p1 %}</p>
                    <p>{% translate work.incipit.reliquaries.p2 %}</p>
                    <p>{% translate work.incipit.reliquaries.p3 %}</p>
                    <p>{% translate work.incipit.reliquaries.p4 %}</p>
                    <p>{% translate work.incipit.reliquaries.p5 %}</p>
                    <p>{% translate work.incipit.reliquaries.p6 %}</p>

                    <br>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4>echo - 2021</h4>
                            <hr class="star-light">
                        </div>
                    </div>
                    <p>{% translate work.incipit.echo_2021.p1 %}</p>
                    <p>{% translate work.incipit.echo_2021.p2 %}</p>
                    <p>{% translate work.incipit.echo_2021.p3 %}</p>
                    <p>{% translate work.incipit.echo_2021.p4 %}</p>

                    <br>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4>vestibule #2</h4>
                            <hr class="star-light">
                        </div>
                    </div>
                    <p>{% translate work.incipit.vestibule2.p1 %}</p>
                    <p>{% translate work.incipit.vestibule2.p2 %}</p>

                    <br>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4>platform</h4>
                            <hr class="star-light">
                        </div>
                    </div>
                    <p>{% translate work.incipit.platform.p1 %}</p>
                    <p>{% translate work.incipit.platform.p2 %}</p>
                    <p>{% translate work.incipit.platform.p3 %}</p>
                    <p>{% translate work.incipit.platform.p4 %}</p>
                    <p>{% translate work.incipit.platform.p5 %}</p>
                    <p>{% translate work.incipit.platform.p6 %}</p>
                    <p>{% translate work.incipit.platform.p7 %}</p>
                    <p>{% translate work.incipit.platform.p8 %}</p>
                    <p>{% translate work.incipit.platform.p9 %}</p>

                </div>
            </div>
        </div>
    </section>