<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

<div class="container">
   <div class="row">
      <div class="col-lg-12 text-center my-2">
         <h3 class="py-3">Incipit installation</h3>
      </div>
   </div>
   <div class="portfolio-item row">
      <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
         <a href="../../img/incipit/intro/IMG_4630.jpg" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="../../img/incipit/intro/IMG_4630.jpg" alt="" />
         </a>
      </div>
      <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
         <a href="../../img/incipit/intro/based concrete ball.jpg" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="../../img/incipit/intro/based concrete ball.jpg" alt="" />
         </a>
      </div>
      <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
         <a href="../../img/incipit/intro/based golden rings.jpg" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="../../img/incipit/intro/based golden rings.jpg" alt="" />
         </a>
      </div>
</div>