<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="container-fluid">
            <div id="about-content">
                <div class="row">
                    <p>{% translate home.p1 %}</p>
                    <p>
                        {% translate home.p2 %}
                    </p>
                    <br>
                    <br>
                    <p><b>{% translate home.p3 %}</b></p>
                    <p>
                        {% translate home.p4 %}
                    </p>
                    <br>
                    <p>{% translate home.p5 %}</p>
                    <p>{% translate home.p6 %}</p>
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <h4 class="about-h4">CV</h4>
                <br>
                <div class="container-fluid">
                    <div class="row content">
                        <div class="col-sm-3">
                            <img class="img-responsive" src="img/photo-cv.png" alt="profile-pic" />
                        </div>
                        <div class="col-sm-9">
                            <p><b>Académie Royale des Beaux-Arts de Bruxelles – Ecole Supérieure des Arts</b></p>
                            <p>2015 : Master en arts plastiques, visuels et de l’espace dans l’option sculpture</p>
                            <p><b>Haute Ecole Albert Jacquard, Namur</b></p>
                            <p>2011 : Diplômé du Régendat en Arts Plastiques</p>
                            <p><b>Université Namur</b></p>
                            <p>2006-2008 : Baccalauréat en sciences biologiques</p>
                            <p><b>Institut Sainte-Marie, Jambes</b></p>
                            <p>2006 : Certificat d’Etudes Secondaires Supérieures (humanités scientifiques)</p>
                        </div>
                    </div>
                    <br>
                    <h4 class="about-h4">Awards</h4>
                    <br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="awards">
                                <p>« Prix d’excellence de la ville de Bruxelles 2015 »</p>
                                <p>« Prix Laurent Moonens 2015 » – 1 year residency</p>
                                <p><a href="http://www.moonens.com/" target="_blank">moonens.com</a></p>
                                <p><a
                                        href="http://www.moonens.com/Files/Other/ArtMeme%2068%20p46.pdf" target="_blank">moonens.com - Concours</a>
                                </p>
                                <p>Godecharle residency 2015</p>

                                <p><a href="http://www.godecharle.be/calendriers.php" target="_blank">godecharle.be</a></p>
                                <p>InterNatura 2015</p>
                                <p><a
                                        href="http://www.isola-comacina.it/eventi-e-manifestazioni/internature-2015/" target="_blank">isola-comacina.it</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4 class="about-h4">Exhibitions</h4>
                    <br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="exhibitions">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><h5>2020</h5>
                                        <ul>
                                            <li class="exhibitions-list-item">« Prix de la Jeune Sculpture de la Fédération Wallonie-Bruxelles », Endless
                                                House Collective, Sart Tilman (Campus ULG), Liège</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item"><h5>2019</h5>
                                        <ul class="exhibitions-list-item">
                                            <li>« Endless House VII_Unreal Houses », Endless House Collective, Maison Pelgrims,
                                                Saint-Gilles</li>
                                            <li>« From me my shadow », group show, collaboration with Emilie Terlinden & Kunbo
                                                Meng, Moonens Foundation, Brussells</li>
                                            <li>« Shifting foundations », group show curated by Stephanie Roland, Hectolitre,
                                                Brussels</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item"><h5>2017</h5>
                                        <ul class="exhibitions-list-item">
                                            <li>« Molière Project : 3rd edition », group show, Lycée Molière, Brussels</li>
                                            <li>« Radieuse », group show curated by Emmanuel Lambion & Frédéric de Goldschmidt,
                                                Quai du Commerce, Brussels</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item"><h5>2016</h5>
                                        <ul class="exhibitions-list-item">
                                            <li>« L’Improbable », group show with Caroline Purgal & David Mauquoy, Kulturanivl -
                                                Maison des Artistes de Nivelles, Nivelles</li>
                                            <li>« The BLOOM Experiment », Endless House Collective, Bloom Hôtel, Brussels</li>
                                            <li>« Current State of Affairs », group show (end of residency), Moonens Foundation,
                                                Brussels</li>
                                            <li>« ad libitum », collaboration with Caroline Purgal, Espace Flux Gallery, Liège
                                            </li>
                                            <li>« Endless House », Endless House Collective, Moonens Foundation, Brussels</li>
                                            <li>« ille », artistic performance with Caroline Purgal, Mappa Mundo, Brussels</li>
                                            <li>« Carte de Visite », group show, Brussels</li>
                                            <li>« Interfaces », group show, Passerelle Gallery, Brussels</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item"><h5>2015</h5>
                                        <ul class="exhibitions-list-item">
                                            <li>« Carte Blanche », group show, Tamat, Tournai</li>
                                            <li>« InterNatura 2015 », group show, Isola Comacina (Lake of Come, Italy)</li>
                                            <li>« Toujours plus à l’ouest … » students show ARBA-ESA, Ath</li>
                                            <li>« Godecharle » group show (end of residency), ARBA-ESA, Brussels</li>
                                            <li>« Comm’Elles » : group show, Espace Flux Gallery, Liège</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item"><h5>2014</h5>
                                        <ul class="exhibitions-list-item">
                                            <li>« Plus à l’ouest …» : students show ARBA-ESA, Brussels</li>
                                            <li>« Excarnation » : group show (with Caroline Purgal, Clara Farhat & Aurel Quiros
                                                Miramontes), Carthago Delenda Est, Anderlecht</li>
                                            <li>« L’Expédition Nocturne de la Rêverie Collective » group show, artistic
                                                performance « 703 H2 F1 » with Caroline Purgal & Aurel Quiros Miramontes,
                                                Brussels</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item"><h5>2013</h5>
                                        <ul class="exhibitions-list-item">
                                            <li>« Dès-orientés », group show, artistic performance « 703 H2 F1 » with Caroline
                                                Purgal & Aurel Quiros Miramontes, ISELP, Brussels</li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>